@model List<Contact>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<h1>Gelen Mesajlar</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>İsim Soyisim</th>
        <th>Email</th>
        <th>Mesaj</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ContactId</td>
            <td>@item.FirstName @item.LastName</td>
            <td>@item.Email</td>
            <td>@item.Description</td>
            <td><a href="/Contact/DeleteContact/@item.ContactId" class="btn btn-outline-danger">Sil</a></td>
        </tr>
    }
</table>
